[licenses]
confidence-threshold = 0.8
allow = [
  "MIT",
  "Apache-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "ISC",
  "Zlib",
  "Unicode-DFS-2016",
  "Unicode-3.0",
  "Apache-2.0 WITH LLVM-exception",
  "MPL-2.0"
]
unused-allowed-license = "allow"
[bans]

[licenses.private]
ignore = true
